# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# PyInstaller
*.spec
build/
dist/
*.exe

# IDE / редакторы
.vscode/
.idea/
*.log

# Секреты
.env
*.key
*.json
*.txt
*.csv
*.bin
*.ini

# My Files
*DT.py
*.drawio
*tempCodeRunnerFile.py
Pictures/
Keys/