# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# PyInstaller
build/
dist/
*.exe

# IDE / редакторы
.vscode/
.idea/
*.log

# Секреты
.env
*.key
*.json
*D.txt
*.csv
*.bin
*.ini

# My files
*DT.py
*.drawio
*tempCodeRunnerFile.py

# My folders
Pictures/
Keys/
Comments_in_DOCX/
Transcripts_in_DOCX/
HistoryLogs/
Videos_in_DOCX/
Channels_in_DOCX/
Playlists_in_DOCX/
Wishes/